body {
    background-color: #6892a1;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #C6DBF0;
    box-shadow: 2px 2px 12px #A0C4E2;
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 700;
}

#first-col {
    font-family: Calibri;
    font-weight: bold;
    color: black;
    font-size: 22px;
    background-color: #6892a1;
    /* display: flex; */
    align-items: center;
}

#second-col {
    font-family: Calibri;
    font-weight: bold;
    color: black;
    font-size: 40px;
    background-color: #85C7DE;
}